{% extends 'EvispaProductApiBundle::layout.html.twig' %}

{% block contents %}

{% for product in result.resources %}
    <div>
        <div>
            <h2>{{ product.slug }}</h2>
            {% for key, item in product.text.items %}
                <div>{{ key }}: {{ item.name }}</div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <div>No Products to display.</div>
{% endfor %}

{{ (result.parameters.offset + 1) }} - {{ (result.parameters.offset + result.resources|length) }} of {{ result.totalFound }}

{% endblock %}